*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  --main-color: #F5F5F5;
  --cardItem-color: #e5e5e5;
  --logo-color: #F50053;
  --footer-color: #1E2E41;
  --black1-color: #333;
  --nextPrev-color: #00AF97;
  --nextPrev-colorLight: #40c5b385;
  --oldPrice-color: #6D6D6D;
}

body {
  background-color: var(--main-color);
  color: var(--black1-color);
  --type-first: 'Quicksand', sans-serif;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

input, button {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--black1-color);
}

a {
  text-decoration: none;
  color: var(--black1-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
  margin-top: 62px;
}

.container {
  max-width: 82.5rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.content {
  flex: 1;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

/* Alteração arrow slick */

.slick-prev, .slick-next {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 100;
  background-color: var(--nextPrev-colorLight);
  padding: .2rem;
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: var(--nextPrev-color);
}

.slick-prev {
  left: 1rem;
  top: 10rem;
}

.slick-next {
  right: 1rem;
  top: 10rem;
}